!/gradle/wrapper/gradle-wrapper.jar
*.aab
*.ap_
*.apk
*.class
*.ctxt
*.dex
*.ear
*.hprof
*.iml
*.ipr
*.iws
*.jar
*.jks
*.keystore
*.log
*.nar
*.rar
*.swp
*.tar.gz
*.war
*.zip
*~
.DS_Store
.classpath
.cproject
.cxx
.cxx/
.externalNativeBuild
.externalNativeBuild/
.gradle
.gradle/
.idea/
.idea/.name
.idea/assetWizardSettings.xml
.idea/caches/
.idea/compiler.xml
.idea/copyright/profiles_settings.xml
.idea/dataSources.ids
.idea/datasources.xml
.idea/dictionaries
.idea/dynamic.xml
.idea/encodings.xml
.idea/gradle.xml
.idea/jarRepositories.xml
.idea/jsLibraryMappings.xml
.idea/libraries/
.idea/misc.xml
.idea/modules.xml
.idea/mongoSettings.xml
.idea/navEditor.xml
.idea/scopes/scope_settings.xml
.idea/shelf/
.idea/sqlDataSources.xml
.idea/tasks.xml
.idea/uiDesigner.xml
.idea/vcs.xml
.idea/workspace.xml
.idea_modules/
.mtj.tmp/
.navigation/
.project
.settings/
.signing/
/*/*/build
/*/*/production
/*/build/
/*/local.properties
/*/out
/.idea/assetWizardSettings.xml
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/navEditor.xml
/.idea/workspace.xml
/build
/captures
/local.properties
/out/
atlassian-ide-plugin.xml
bin/
build/
captures/
com_crashlytics_export_strings.xml
crashlytics-build.properties
crashlytics.properties
deploymentTargetDropDown.xml
fabric.properties
gen-external-apklibs
gen/
google-services.json
hs_err_pid*
local.properties
misc.xml
obj/
out/
output.json
proguard/
render.experimental.xml
replay_pid*
